.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }
}
